* {
  font-family: sans-serif;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.logo{
    width: 100px;
}

body {
  background-color: #081926;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  font-size: 50px;
  text-align: center;
  color: white;
  margin-bottom: 100px;
}

.container-input {
  max-width: 480px;
  margin: 14px 0;
}

.container-input span {
  color: white;
  font-size: 22px;
}

.slider {
  width: 100%;
  border-radius: 5px;
  background: white;
  height: 18px;
  outline: none;
  margin-top: 8px;
  color
}

.button-cta {
  height: 40px;
  background-color: #00a4e9; 
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 40px;
  color: #081928;
  font-weight: bold;
  font-size: 18px;
  transition: 0.2s ease-in-out;
}

.button-cta:hover {
  background-color: #081928;
  border: 2px solid #00a4e9;
  color: #00a4e9;
  transition: 0.2s ease-in-out;
}

.button-cta:active{
    transform: scale(1.05);
}

.container-password {
  max-width: 480px;
  margin: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.hide {
  display: none;
}

.container-password span {
    color: white;
    margin-bottom: 1px;
    text-align: center;
}

.logo {
  text-align: center;
  color: white;
  font-size: 28px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.password {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid #313131;
  transition: transform 0.5s;
}

.password:hover {
  transform: scale(1.05);
}

.tooltip {
  color: white;
  position: relative;
  top: 20px;
  padding: 6px 8px;
  background: rgb(15, 15, 15);
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.container-password:hover .tooltip {
  visibility: visible;
  bottom: 50px;
  opacity: 1;
}

.credits{
    text-align: center;
    color: white;
    margin-top: 200px;
}